<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Tailwind CSS Output -->
    <link rel="stylesheet" href="/style.css">
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<div class="bg-white dark:bg-gray-900">
  <!-- Header -->
    {% include "header.njk" %}
  <main class="isolate">
    {{ content | safe }}
  </main>

  <!-- Footer -->
  {% include "footer.njk" %}
</div>


</body>
</html>