---
layout: base.njk
---

<div class="main-container">
  <div class="mx-auto max-w-3xl text-base leading-7 ">

  <div class="mb-5">
          <a href="/blog/" class="button-soft">Back to all posts</a>
        </div>

    <!-- Title and Date -->
    <p class="text-base font-semibold leading-7 p-text">{{ date | postDate }}</p>
    <h1 class="mt-2 text-3xl font-bold tracking-tight p-text sm:text-4xl">{{ title }}</h1>

    <!-- Tags Badge List -->
    <div class="mt-4 flex flex-wrap gap-2">
      {% for tag in tags %}
        {% if tag != "post" and tag != "featured" %}
          <a href="/tags/{{ tag | slugify }}/" class="tag-pill">
            #{{ tag }}
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Main Content -->
    <div class="mt-10 prose prose-lg dark:prose-invert mx-auto">
        {{ content | safe }}
    </div>
    <div class="mt-4 flex justify-end w-full">
        <a href="/blog/" class="button-soft">Back to all posts</a>
      </div>
  </div>
</div>