<article class="relative flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 {{ class }}">
    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt}}" class="absolute inset-0 -z-10 h-full w-full object-cover transition duration-300 hover:scale-105">
    <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
       <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>

    <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
        <time datetime="{{ post.date }}" class="mr-8">{{ post.date | postDate }}</time>
    </div>
    <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
        <a href="{{ post.url }}">
            <span class="absolute inset-0"></span>
            {{ post.data.title }}
        </a>
    </h3>
</article>