{%set projects = [
    {
        image: 'assets/images/calculator.jpg',
        title: 'Calculator',
        subTitle: 'JavaScript | Math Logic',
        liveLink: 'https://taschenrechner-app-app.netlify.app/'
    },
    {
        image: 'assets/images/tictactoe.jpg',
        title: 'Tic Tac Toe',
        subTitle: 'JavaScript | Algorithm',
        liveLink: 'https://tictactoekk.netlify.app/'
    },
    {
        image: 'assets/images/windows10.jpg',
        title: 'Desktop Simulation',
        subTitle: 'JavaScript',
        liveLink: 'https://desktopsimulation.netlify.app/'
    }
] %}

<div id="projects" class="mx-auto mt-32 max-w-7xl px-6 sm:mt-48 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white">Projects</h2>
    <p class="mt-6 text-lg/8 text-gray-600 dark:text-gray-400">
        Here are some of my projects, which helped me to improve and develop my skills.
    </p>
  </div>

  <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-center sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">

    <!-- Projects -->
    {% for project in projects %}
    <li>
      <div class="mx-auto flex h-48 w-full items-center justify-center rounded-2xl bg-gray-100 dark:bg-gray-800 overflow-hidden">
        <img alt="{{project.title}}" src="{{project.image}}" class="w-full h-full object-cover">
      </div>
      <h3 class="mt-6 text-base/7 font-semibold tracking-tight text-gray-900 dark:text-white">{{project.title}}</h3>
      <p class="text-sm/6 text-gray-600 dark:text-gray-400 mb-5">{{project.subTitle}}</p>
      <a
        href="{{project.liveLink}}"
        target="_blank"
        class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-700 dark:shadow-none dark:hover:bg-purple-600/50 dark:focus-visible:outline-indigo-500"
        >
        Live Demo
        </a>
    </li>
    {% endfor %}

  </ul>
</div>