@import "tailwindcss";


@layer components {
    .main-container{
        @apply mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8 mb-24;
    }

    .button-a {
        @apply rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500;
    }
}