---
layout: base.njk
title: Kadir Gülec - Software Developer
skills:
 - HTML
 - CSS
 - JavaScript
 - GIT
 - Python
 - Linux
 - SQL
 - Java
 - PHP
 - Laravel
 - Tailwind CSS
 - Livewire
 - Alpine.JS
---

    <!-- Hero section -->
    {% include "sections/hero.njk" %}

    <!-- About Me section -->
    {% include "sections/about-me.njk" %}

    <!-- Image section -->
    <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
      <img src="/assets/images/php-html-css-js.jpg" alt="" class="aspect-5/2 w-full object-cover outline-1 -outline-offset-1 outline-black/5 xl:rounded-3xl dark:outline-white/10" />
    </div>

    <!-- Soft SKills Section -->
    {% include "sections/soft-skills.njk" %}

    <!-- Tech Stack section -->
    {% include "sections/skills.njk" %}
    <!-- History section -->
    {% include "sections/history.njk" %}
    <!-- Projects section -->
    {% include "sections/projects.njk" %}
    <!-- Blog section -->
    {% include "sections/blog-preview.njk" %}
